body {
    font-size: 16px;
    text-align: justify;
    font-family: Verdana, sans-serif;
    color: #333;
    line-height: 1.5;
}
P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 745px;
}
.img
{
    text-align: center;
}
.Citata
{
    text-align: center;
}
.cen
{
    text-align: center;
}
h1 {
    font-size: 40px;
    text-align: center;
    color: #f03333;
    line-height: 1.2;
}
h2 {
    font-size: 30px;
    text-align: center;
    color: #f03333;
}
table
{
    margin: auto;
    background-color: rgb(186, 199, 210);
}
td {
    text-align: center;
}
.collored
{

    color: red;
}
.yung
{
    color: red;
}
.google
{
    color: red;
}
.codeinf{
    color: red;
}
